
process.executor = 'local'
docker.enabled = true

ansi {
  log = true
}

// ************ Clustering Pipeline Configuration ************


params.input_h5mu = "teaseq_corrected.h5mu"
params.sample_id = "sample1"
params.n_threads=1
params.outdir_path="nextflow/test_clustering"


params.modalities = [
    rna       : true,
    prot      : false,
    atac      : true,
    multimodal : false
]


params.multimodal_integration_method ="wnn"

/*Run Neighbors*/

params.neighbors = [
  rna: [
    use_existing: "False",
    dim_red: "X_pca",
    n_dim_red: 30,
    k: 30,
    metric: "euclidean",
    method: "scanpy" ],
  prot:[
    use_existing: "False",
    dim_red: "X_pca",
    n_dim_red: 30,
    k: 30,
    metric: "euclidean",
    method: "scanpy" ],
  atac:[
    use_existing: "False",
    dim_red: "X_pca",
    n_dim_red: 30,
    dim_remove: "None",
    k: 30,
    metric: "euclidean",
    method: "scanpy" ],
  multimodal:[
    use_existing: "False",
    dim_red: "wnn",  // e.g. totalvi embedding instead of PCA 
    k: 30,
    metric: "euclidean",
    method: "scanpy" ]
]


/*Run UMAP*/

params.umap = [
    run: "True",
    rna: [ mindist: [0.25, 0.5] ],
    prot: [ mindist: [0.25, 0.5] ],
    atac: [ mindist: [0.25, 0.5] ],
    multimodal: [ mindist: [0.25, 0.5] ]
]

/*Run Clustering*/

params.clusterspecs = [
    rna: [
        resolutions: [0.2, 0.6, 1.0],
        algorithm  : 'leiden'
    ],
    prot: [
        resolutions: [0.2, 0.6, 1.0],
        algorithm  : 'leiden'
    ],
    atac: [
        resolutions: [0.2, 0.6, 1.0],
        algorithm  : 'leiden'
    ],
    multimodal: [
        resolutions: [0.5, 0.7],
        algorithm  : 'leiden'
    ]
]


params.markerspecs = [
    rna: [
        run           : "True",
        layer         : 'logged_counts',
        method        : 't-test_overestim_var',
        mincells      : 10,
        pseudo_seurat : "False",
        minpct        : 0.1,
        threshuse     : 0.25
    ],

    prot: [
        run           : "True",               
        layer         : 'clr',
        method        : 'wilcoxon',
        mincells      : 10,
        pseudo_seurat : "False",
        minpct        : 0.1,
        threshuse     : 0.25
    ],

    atac: [
        run           : "True",
        layer         : 'signac_norm',    
        method        : 'wilcoxon',
        mincells      : 10,
        pseudo_seurat : "False",
        minpct        : 0.1,
        threshuse     : 0.25
    ],

    multimodal: [
        run           : "True",               
        method        : 'wilcoxon',         
        mincells      : 10,
        pseudo_seurat : "False",
        minpct        : 0.1,
        threshuse     : 0.25
    ]
]


params.plotspecs = [
    layers: [
        rna    : 'logged_counts',
        prot   : 'clr',
        atac   : "signac_norm",
    ],
    top_n_markers: 10
]

