process.executor = 'local'

params {

    // Base params

    outdir = './results'
    mode   = 'integration'
    sample_prefix = 'teaseq'
    submission_file = '/Users/mylenemarianagonzalesandre/Development/HiWi/Panpipes/data/teaseq/ingest/sample_file_qc_nextflow.csv'
    cellranger_column_conversion =  '/Users/mylenemarianagonzalesandre/Development/HiWi/Panpipes/ingest/panpipes-nextflow/panpipes/resources/metrics_summary_col_conversion.tsv'

    ingest = [
        project              : 'Teaseq',
        sample_prefix        : 'teaseq',
        use_existing_h5mu    : false,
        submission_file      : '/Users/mylenemarianagonzalesandre/Development/HiWi/Panpipes/data/teaseq/ingest/sample_file_qc.txt',
        metadatacols         : null,
        concat_join_type     : 'inner',

        modalities: [
        rna  : true,
        prot : true,
        bcr  : false,
        tcr  : false,
        atac : true
        ],

        index_col_choice              : null,
        load_prot_from_raw            : false,
        subset_prot_barcodes_to_rna   : false,
        plot_10X_metrics              : false,

        // --- scRNA doublet / QC knobs ---
        scr: [
        run                        : true,
        expected_doublet_rate      : 0.06,
        sim_doublet_ratio          : 2,
        n_neighbours               : 20,
        min_counts                 : 2,
        min_cells                  : 3,
        min_gene_variability_pctl  : 85,
        n_prin_comps               : 30,
        use_thr                    : true,
        call_doublets_thr          : 0.2
        ],

        // --- gene lists & QC panels ---
        custom_genes_file     : '/Users/mylenemarianagonzalesandre/Development/HiWi/Panpipes/data/teaseq/ingest/qc_genelist_1.0.csv',
        calc_proportions      : 'hb,mt,rp,ig',
        score_genes           : 'MarkersNeutro',
        ccgenes               : 'default',
        plotqc_grouping_var   : 'orig.ident',

        // metrics
        plotqc_rna_metrics    : 'doublet_scores,pct_counts_mt,pct_counts_rp,pct_counts_hb,pct_counts_ig',
        plotqc_prot_metrics   : 'total_counts,log1p_total_counts,n_adt_by_counts,pct_counts_isotype',
        prot_metrics_per_prot : 'total_counts,log1p_total_counts,n_cells_by_counts,mean_counts',

        identify_isotype_outliers : true,
        isotype_upper_quantile    : 90,
        isotype_n_pass            : 2,

        is_paired       : true,
        partner_rna     : null,
        features_tss    : null,

        plotqc_atac_metrics : 'n_genes_by_counts,total_counts,pct_fragments_in_peaks,atac_peak_region_fragments,atac_mitochondrial_reads,atac_TSS_fragments',

        ir_dist: [
        metric   : null,
        sequence : null
        ],

        clonotype_definition: [
        receptor_arms : null,
        dual_ir       : null,
        within_group  : null
        ],

        plotqc_rep_metrics : [
        'is_cell',
        'extra_chains',
        'clonal_expansion',
        'rep:receptor_type',
        'rep:receptor_subtype',
        'rep:chain_pairing',
        'rep:multi_chain'
        ],

        assess_background     : false,
        downsample_background : true,
        channel_col           : 'sample_id',
        save_norm_prot_mtx    : false,
        normalisation_methods : 'clr',
        clr_margin            : 1,
        quantile_clipping     : true,

    ]
    }

    profiles {
        docker {
            docker.enabled   = true
            conda.enabled    = false
            singularity.enabled = false
            podman.enabled    = false
            process.container = 'mari3ga/single_cell:v1'
        }

        conda {
            docker.enabled    = false
            singularity.enabled = false
            podman.enabled    = false
            conda.enabled     = true
            process.conda    = "/Users/mylenemarianagonzalesandre/miniconda3/envs/spatial-transcriptomics"
        }
    }


process {
    cpus  = 2
    memory = '4 GB'
    time   = '4h'
    
    withLabel: 'limit_blas' {
        env.OMP_NUM_THREADS       = { task.cpus }
        env.OPENBLAS_NUM_THREADS  = { task.cpus }
        env.MKL_NUM_THREADS       = { task.cpus }
        // useful extras depending on the backend:
        env.NUMEXPR_NUM_THREADS   = { task.cpus }
        env.BLIS_NUM_THREADS      = { task.cpus }
        env.VECLIB_MAXIMUM_THREADS= { task.cpus }
    }
}


