process.executor = 'local'
docker.enabled = true

// params {
//     outdir        : "./results"
// }

profiles {

    standard {
        includeConfig "${projectDir}/ingest_config.config"
        includeConfig "${projectDir}/preprocess.config"
        includeConfig "${projectDir}/integration.config"
        includeConfig "${projectDir}/clustering.config"
        includeConfig "${projectDir}/visualisation.config"
    }

    ingest_only {
        includeConfig "${projectDir}/ingest_config.config"
    }

    preprocess_only {
        includeConfig "${projectDir}/preprocess.config"
    }

    visualisation_only {
    includeConfig "${projectDir}/visualisation.config"
    }

    ingest_preprocess {
        includeConfig "${projectDir}/ingest_config.config"
        includeConfig "${projectDir}/preprocess.config"
    }
    integration_only {
        includeConfig "${projectDir}/integration.config"
    }

    clustering_only {
        includeConfig "${projectDir}/clustering.config"
    }

    
    docker {
            docker.enabled   = true
            conda.enabled    = false
            singularity.enabled = false
            podman.enabled    = false
            process.container = 'mari3ga/single_cell:v1'
        }

        conda {
            docker.enabled    = false
            singularity.enabled = false
            podman.enabled    = false
            conda.enabled     = true
            process.conda    = "/envs/spatial-transcriptomics"
        }
}
