profiles {

    standard {
        includeConfig "${projectDir}/ingest_config.config"
        includeConfig "${projectDir}/preprocess.config"
    }

    ingest_only {
        includeConfig "${projectDir}/ingest_config.config"
    }

    preprocess_only {
        includeConfig "${projectDir}/preprocess.config"
    }
}
profiles {
        docker {
            docker.enabled   = true
            conda.enabled    = false
            singularity.enabled = false
            podman.enabled    = false
            process.container = 'mari3ga/single_cell:v1'
        }

        conda {
            docker.enabled    = false
            singularity.enabled = false
            podman.enabled    = false
            conda.enabled     = true
            process.conda    = "/Users/mylenemarianagonzalesandre/miniconda3/envs/spatial-transcriptomics"
        }
}
