
// ************ Spatial preprocessing pipeline configuration ************

ansi {
  log = true
}

// Preprocess
params.run_spatial_preprocess = 'True'
params.input_csv = "input_paths.csv"

params.run_filtering="True"
params.filter_dict='{"spatial": {"obs": {"max":{"total_counts":3000}}}}'
params.keep_barcodes="None"

params.spatial_filetype="visium"
params.grouping_var="['sample_id']"
params.spatial_qc_metrics = "['total_counts', 'n_genes_by_counts']"

params.norm_hvg_flavour = "squidpy"
params.n_top_genes = 2000
params.filter_by_hvg= "False"
params.hvg_batch_key= "None" 
params.squidpy_hvg_flavour="seurat"
params.min_mean= 0.05
params.max_mean=1.5
params.min_disp=0.5
params.theta=100
params.clip="None" 
params.n_pcs=50

params.concat="True"

params.outdir_path="/Users/sarah/Documents/ICB/Panpipes/15.nextflow/test_spatial_preprocess"


