process.executor = 'local'

params {

  preprocess = [
  // -------------------------------
  // General project specifications
  // -------------------------------
    mode            : 'preprocess',
    sample_id       :  'teaseq',
    outdir          : './results',
    unfiltered_obj  : '/teaseq/ingest/teaseq_unfilt.h5mu',
    use_muon      : false,
    
  // Modalities toggles
    modalities : [
        rna  : true,
        prot : true,
        rep  : false,
        atac : true
    ],

  // --------------------------
  // Compute resources options
  // --------------------------
    resources : [
        threads_high  : 2,
        threads_medium: 2,
        threads_low   : 1
    ],

  // ----------------------------
  // Filtering Cells and Features
  // ----------------------------
    filtering : [
        run          : true,
        keep_barcodes: null,

        rna: [
        obs: [
            min : [ n_genes_by_counts: 100 ],
            max : [ pct_counts_mt: 40, pct_counts_rp: 100, doublet_score: 0.25 ],
            bool: [:]
        ],
        var: [
            min : [ n_cells_by_counts: 1 ],
            max : [ total_counts: null, n_cells_by_counts: null ]
        ]
        ],

        prot: [
        obs: [
            max: [ total_counts: null ]
        ],
        var: [
            max: null,
            min: null
        ]
        ],

        atac: [
        obs: [
            max: [ total_counts: 2500 ]
        ],
        var: [
            nucleosome_signal: null
        ]
        ]
    ],

  // ---------------------------
  // Intersecting cell barcodes
  // ---------------------------
    // comma-separated; null or '' to skip
    intersect_mods  : 'rna,prot,atac',

  // --------------------------
  // Downsampling cell barcodes
  // --------------------------
    downsample_n    : null,
    downsample_col  : null,
    //'rna,prot' — leave null to skip
    downsample_mods : null,

  // ------------------
  // Plotting variables
  // ------------------

    plotqc : [
        grouping_var: 'sample_id,orig.ident',
        rna_metrics : 'pct_counts_mt,pct_counts_rp,pct_counts_hb,doublet_scores',
        prot_metrics: 'total_counts,log1p_total_counts,n_adt_by_counts',
        atac_metrics: 'total_counts',
        rep_metrics : null
    ],

  // -----------------------
  // RNA preprocessing steps
  // -----------------------
    use_muon : false,

    log1p : true,
    hvg : [
        flavor      : 'seurat',
        batch_key   : 'sample_id',
        n_top_genes : 2000,
        min_mean    : null,
        max_mean    : null,
        min_disp    : null,
        exclude_file: null,
        exclude     : null,
        filter      : false
    ],
    regress_variables : null,

  // ---------
  // Scaling
  // ---------
    run_scale       : true,
    scale_max_value : null,

  // -----------------------------
  // RNA Dimensionality Reduction
  // -----------------------------
    pca : [
        n_pcs   : 50,
        solver  : 'default',
        color_by: 'sample_id,total_counts'
    ],

  // ----------------------------------
  // Protein (PROT) preprocessing steps
  // ----------------------------------
    prot : [
        normalisation_methods: 'clr',
        clr_margin          : 1, 
        background_obj      : null,
        quantile_clipping   : true,
        store_as_X          : 'clr',
        save_norm_prot_mtx  : false,

        // Dimensionality reduction
        pca     : true,
        n_pcs   : 10,
        solver  : 'default',
        color_by: 'orig.ident,log1p_total_counts'
    ],

  // ------------------------
  // ATAC preprocessing steps
  // ------------------------
    atac : [
        binarize                 : false,
        normalize                : 'TFIDF',
        TFIDF_flavour            : 'signac',
        feature_selection_flavour: 'scanpy',

        // scanpy HVF params (null = use defaults)
        min_mean      : null,
        max_mean      : null,
        min_disp      : null,
        n_top_features: null,
        filter_by_hvf : false,

        // signac HVF param
        min_cutoff: 'q5',

        // Dimensionality reduction
        dimred   : 'PCA',
        n_comps  : 50,
        solver   : 'default',
        color_by : 'dataset,total_counts',
        dim_remove: null
    ]
    ]
    }

// ------------------------------
// Profiles
// ------------------------------
profiles {
    docker {
        docker.enabled   = true
        conda.enabled    = false
        singularity.enabled = false
        podman.enabled    = false
        process.container = 'mari3ga/single_cell:v1'
    }

    conda {
        docker.enabled    = false
        singularity.enabled = false
        podman.enabled    = false
        conda.enabled     = true
        process.conda    = "/envs/spatial-transcriptomics"
    }
}

// ------------------------------
// process settings
// ------------------------------
process {
    withLabel: 'limit_blas' {
        env.OMP_NUM_THREADS       = { task.cpus }
        env.OPENBLAS_NUM_THREADS  = { task.cpus }
        env.MKL_NUM_THREADS       = { task.cpus }
        // useful extras depending on the backend:
        env.NUMEXPR_NUM_THREADS   = { task.cpus }
        env.BLIS_NUM_THREADS      = { task.cpus }
        env.VECLIB_MAXIMUM_THREADS= { task.cpus }
    }
}