
// ************ Spatial Clustering Pipeline Configuration ************
process.executor = 'local'
docker.enabled = true

ansi {
  log = true
}

// Spatial Clustering
params.input_csv = "input_paths.csv"

params.n_threads=1
params.neighbor_dict='{"use_existing": "False", "dim_red": "X_pca", "n_dim_red": 30, "k": 30, "metric": "euclidean", "method": "scanpy"}'


params.min_dist=[0.25, 0.5]
params.neighbors_key = "neighbors"

params.resolution=[0.2, 0.5]
params.algorithm="leiden"

params.layer= "lognorm"
params.method= "wilcoxon"
params.mincells= 10 
params.pseudo_seurat= "False"
params.minpct= 0.1
params.threshuse= 0.25

params.layer_dotplot="lognorm"
params.top_n_markers= 10

params.outdir_path="/Users/sarah/Documents/ICB/Panpipes/15.nextflow/test_spatial_clustering"


