process.executor = 'local'
docker.enabled = true

params {
    input_csv = "/Users/mylenemarianagonzalesandre/Development/HiWi/Panpipes/data/qc_spatial/ingestion/data/submission_nf_v4.csv"
    outdir = "./results"
    output_file = "spatial_data.zarr"
    output_format = "zarr"
    mode = "spatial"
    spatial_filetype = "visium"
    visium_feature_bc_matrix = "/Users/mylenemarianagonzalesandre/Development/HiWi/Panpipes/data/qc_spatial/ingestion/data/V1_Human_Heart/V1_Human_Heart_filtered_feature_bc_matrix.h5"
    visium_fullres_image_file = "None"
    visium_tissue_positions_file = "None"
    visium_scalefactors_file = "None"
    vpt_cell_by_gene = "None"
    vpt_cell_metadata = "None"
    vpt_cell_boundaries = "None"
    ccgenes = "None"
    custom_genes_file = "None"
    score_genes = "None"
    calc_proportions = "None"
    spatial_qc_metrics = ['n_genes_by_counts', 'total_counts']
    grouping_var = ['sample_id']
    figdir = "figures"


    
}

profiles {
    docker_conda {
        docker.enabled = false
        conda.enabled = true
        process.container = 'mari3ga/panpipes-preprocessing:V3'
        process.conda = '/Users/mylenemarianagonzalesandre/miniconda3/envs/spatial-transcriptomics'
    }
}
