process.executor = 'local'
docker.enabled = true

params {
    input_csv = "/Users/mylenemarianagonzalesandre/Development/HiWi/Panpipes/data/qc_spatial/ingestion/data/submission_nf_v2.csv"
    outdir = "./results"
    mode = "spatial"

    // passed per-sample from the CSV
    spatial_filetype             = null
    visium_feature_bc_matrix     = null
    visium_fullres_image_file    = null
    visium_tissue_positions_file = null
    visium_scalefactors_file     = null

    vpt_cell_by_gene     = null
    vpt_cell_metadata    = null
    vpt_cell_boundaries  = null

    // Optional QC params
    ccgenes             = null
    custom_genes_file   = null
    score_genes         = null
    calc_proportions    = null

    // Plotting parameters
    plotqc = {
        enabled         = true
        grouping_var    = null
        spatial_metrics = null
    }
}

profiles {
    docker_conda {
        docker.enabled = true
        conda.enabled = true
        process.container = 'mari3ga/panpipes-preprocessing:V3'
        process.conda = '/Users/mylenemarianagonzalesandre/miniconda3/envs/spatial-transcriptomics'
    }
}
