
// ************ Spatial Deconvolution Pipeline Configuration ************
process.executor = 'local'
docker.enabled = true

ansi {
  log = true
}

// Spatial Deconvolution
params.input_spatial = "input_samples.csv"
params.input_singlecell = "/Users/sarah/Documents/ICB/Panpipes/14.spatialData/3.Deconvolution/Human_Heart_reference.h5mu"


/*Cell2Location*/

params.run_cell2location= "False" 

params.feature_selection_gene_list= "None"
params.feature_selection_remove_mt= "False"
params.feature_selection_cell_count_cutoff = "None"
params.feature_selection_cell_percentage_cutoff2 = "None"
params.feature_selection_nonz_mean_cutoff = "None"

params.reference_labels_key = "cell_type" 
params.reference_batch_key = "None"
params.reference_layer= "None"
params.reference_categorical_covariate_keys= "None"
params.reference_continuous_covariate_keys= "None" 
params.reference_max_epochs= 3
params.reference_accelerator= "auto"

params.spatial_batch_key= "None"
params.spatial_layer= "None" 
params.spatial_categorical_covariate_keys="None" 
params.spatial_continuous_covariate_keys= "None"
params.spatial_N_cells_per_location= 30
params.spatial_detection_alpha= 20 
params.spatial_max_epochs= 10
params.spatial_accelerator= "auto"

params.save_models= "False"
params.export_gene_by_spot= "False"


/*Tangram*/

params.run_tangram = "True" 
params.feature_selection_gene_csv = "None" 
params.feature_selection_labels_key= "cell_type"
params.feature_selection_layer = "normalized_counts"
params.feature_selection_n_genes= 100 
params.feature_selection_test_method= "wilcoxon"
params.feature_selection_correction_method= "benjamini-hochberg" 

params.model_labels_key= "cell_type" 
params.model_num_epochs= 50 
params.model_device= "cpu" 
params.model_kwargs= '{}'



params.outdir_path="/Users/sarah/Documents/ICB/Panpipes/15.nextflow/test_spatial_deconvolution"


