
// ************ Spatial Clustering Pipeline Configuration ************
process.executor = 'local'
docker.enabled = true

ansi {
  log = true
}

// Spatial Clustering
params.input_csv = "input_paths.csv"

params.n_threads=1
params.neighbor_dict='{"use_existing": "False", "dim_red": "X_pca", "n_dim_red": 30, "k": 30, "metric": "euclidean", "method": "scanpy"}'


params.min_dist=[0.25, 0.5]
params.neighbors_key = "neighbors"

params.resolution=[0.2, 0.5]
params.algorithm="leiden"



params.outdir_path="/Users/sarah/Documents/ICB/Panpipes/15.nextflow/test_spatial_clustering"


