process.executor = 'local'
docker.enabled = true

params {
    outdir = "./results"
    mode = "spatial"
    spatial_filetype = "visium"
    visium_feature_bc_matrix = "None"
    visium_fullres_image_file = "None"
    visium_tissue_positions_file = "None"
    visium_scalefactors_file = "None"
    vpt_cell_by_gene = "None"
    vpt_cell_metadata = "None"
    vpt_cell_boundaries = "None"
    
    
}

profiles {
  docker_conda {
    docker.enabled = true
    conda.enabled = true
    process.container = 'mari3ga/panpipes-preprocessing:V3'
    process.conda = '/Users/mylenemarianagonzalesandre/miniconda3/envs/spatial-transcriptomics'
  }
}