process.executor = 'local'
docker.enabled = true

params {

  visualisation = [
  mudata_obj    : '/data/teaseq_clustered.h5mu',
  outdir        : "./results",
  mode          : "visualisation",
  sample_id     : null,

  // Modality
  modalities : [
    rna       : true,
    prot      : true,
    atac      : true,
    rep       : false,
    multimodal: false
  ],

  // Aggrupation
  grouping_vars : [
    'sample_id',
    'rna:leiden_res1',
    'atac:leiden_res0.3',
    'prot:leiden_res1'
  ],

  // Markers
  custom_markers : [
    files : [
      //full   : ['/data/custom_markers.csv'],
      full: ["/Users/mylenemarianagonzalesandre/Development/HiWi/Panpipes/ingest/panpipes-nextflow/panpipes/resources/custom_markers.csv"],
      minimal: ["/Users/mylenemarianagonzalesandre/Development/HiWi/Panpipes/ingest/panpipes-nextflow/panpipes/resources/custom_markers.csv"],
      paired_scatters: ['/Users/mylenemarianagonzalesandre/Development/HiWi/Panpipes/ingest/panpipes-nextflow/panpipes/resources/paired_scatters.csv']
    ],
    layers: [
      rna : ['logged_counts'],
      prot: ['clr'],
      atac: ['signac_norm']
    ]
  ],

  embedding : [
    rna : [ run:true, basis: ['X_umap_mindist_0.5', 'X_pca'] ],
    prot: [ run:true, basis: ['X_umap_mindist_0.1'] ],
    atac: [ run:true, basis: ['X_umap_mindist_0.5'] ]
  ],

  categorical_vars : [
    all : ['sample_id'],
    rna : ['rna:leiden_res1', 'rna:predicted_doublets'],
    prot: ['prot:leiden_res1'],
    atac: ['atac:leiden_res0.3']
  ],

  continuous_vars : [
    all : [],
    rna : ['rna:total_counts'],
    prot: ['prot:total_counts'],
    atac: ['atac:total_counts']
  ],

  do_plots : [
        categorical_barplots         : true,
        categorical_stacked_barplots : true,
        continuous_violin            : true
    ]

  ]

}


profiles {
        docker {
            docker.enabled   = true
            conda.enabled    = false
            singularity.enabled = false
            podman.enabled    = false
            process.container = 'mari3ga/single_cell:v1'
        }

        conda {
            docker.enabled    = false
            singularity.enabled = false
            podman.enabled    = false
            conda.enabled     = true
            process.conda    = "/Users/mylenemarianagonzalesandre/miniconda3/envs/spatial-transcriptomics"
        }
    }