process.executor = 'local'
docker.enabled = true

params {


  mudata_obj    = '/Users/mylenemarianagonzalesandre/Development/HiWi/Panpipes/data/teaseq/vis/data/teaseq_clustered.h5mu'
  outdir = "./results"
  mode = "single_cell"
  sample_id = null

  // Modalidades
  modalities = [
    rna       : true,
    prot      : true,
    atac      : true,
    rep       : false,
    multimodal: false
  ]

  // Agrupaciones
  grouping_vars = [
    'sample_id',
    'rna:leiden_res1',
    'atac:leiden_res0.3',
    'prot:leiden_res1'
  ]

  // Markers
  custom_markers = [
    files : [
      full   : ['/Users/mylenemarianagonzalesandre/Development/HiWi/Panpipes/data/teaseq/vis/data/custom_markers.csv'],
      minimal: [],
      paired_scatters: ['/Users/mylenemarianagonzalesandre/Development/HiWi/Panpipes/data/teaseq/vis/data/paired_scatters_markers.csv']
    ],
    layers: [
      rna : ['logged_counts'],
      prot: ['clr'],
      atac: ['signac_norm']
    ]
  ]

  embedding = [
    rna : [ run:true, basis: ['X_umap_mindist_0.5', 'X_pca'] ],
    prot: [ run:true, basis: ['X_umap_mindist_0.1'] ],
    atac: [ run:true, basis: ['X_umap_mindist_0.5'] ]
  ]

  categorical_vars = [
    all : ['sample_id'],
    rna : ['rna:leiden_res1', 'rna:predicted_doublets'],
    prot: ['prot:leiden_res1'],
    atac: ['atac:leiden_res0.3']
  ]

  continuous_vars = [
    all : [],
    rna : ['rna:total_counts'],
    prot: ['prot:total_counts'],
    atac: ['atac:total_counts']
  ]

  do_plots = [
        categorical_barplots         : true,
        categorical_stacked_barplots : true,
        continuous_violin            : true
    ]

}


profiles {
    docker_conda {
        docker.enabled = false
        conda.enabled = true
        process.container = 'mari3ga/panpipes-preprocessing:V3'
        process.conda = '/Users/mylenemarianagonzalesandre/miniconda3/envs/spatial-transcriptomics'
    }
}